<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Add New Branch</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
        <style>
            body{
                display:flex;
                justify-content:center;
                width:100%;
            }
            .container{

            }
        </style>
    </head>
    <body>
        <div class="container">
            <div>
                <h2>Add New Branch</h2>
                <form action="#" th:action="@{/branch/add}" th:object="${newBranch}" method="POST">
                    <div>
                        <label for="branchName">Name</label>
                        <input type="text" id="branchName" th:field="*{branchName}"
                               placeholder="Branch name" class="form-control mb-4 col-4" required>
                    </div>
                    <div >
                        <label for="branchCountry">Country</label>
                        <input type="text" id="branchCountry" th:field="*{branchCountry}"
                               placeholder="Branch country" class="form-control mb-4 col-4" required>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Save</button>
                </form>
            </div>
        </div>
    </body>
</html>
